# fly.toml app configuration file generated for local-remind on 2025-12-12T02:40:35Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'local-remind'
primary_region = 'nrt'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']
  
[processes]
  app = "gunicorn app:app --workers 1 --threads 8 --timeout 0 --bind 0.0.0.0:8080"
  

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
